/******************** PACIFICO ********************/
@font-face {
  font-family: 'pacificoregular';
  src: url('../fonts/pacifico-webfont.woff2') format('woff2'),
       url('../fonts/pacifico-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/******************** HELVETICA ********************/
@font-face {
  font-family: 'helveticaneuemedium';
  src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneue_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneueregular';
  src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneueitalic';
  src: url('../fonts/helveticaneueit-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneueit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuelight';
  src: url('../fonts/helveticaneue_light-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneue_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/******************** RALEWAY ********************/
@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
       url('../fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
       url('../fonts/raleway-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}